$ff-default: 'Inter', sans-serif;
$ff-secondary: 'Lexend Deca', sans-serif;

$veryDarkBlue : hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white75: hsla(0, 0%, 100%, 0.75);
$white6 : hsla(0, 0%, 100%, 0.6);

// ### Primary

// - Very dark blue (main background): hsl(233, 47%, 7%)
// - Dark desaturated blue (card background): hsl(244, 38%, 16%)
// - Soft violet (accent): hsl(277, 64%, 61%)

// ### Neutral

// - White (main heading, stats): hsl(0, 0%, 100%)
// - Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
// - Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)
// - Family: [Inter](https://fonts.google.com/specimen/Inter)
// - Weights: 400, 700

// - Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
// - Weights: 400


body {
    background-color: $veryDarkBlue;
    font-size: 15px;
    display: grid;
    place-items: center;
    height: calc(100vh - 0.1px);
}

.card {
    border: none;
    background-color: $darkDesaturatedBlue;
    border-radius: 10px;

    &__body {
        padding: 5rem;
    }

    &__title {
        color: white;
        font-family: $ff-default;
        letter-spacing: 1px;
        font-size: 2em;
        margin-bottom: 2rem;

        &__insights {
            color: $softViolet;
        }
    }

    &__text {
        color: $white75;
        font-family: $ff-secondary;
    }

    &__stats {
        margin-top: 4rem;

        &__number {
            font-size: 2rem;
            color: white;
            font-family: $ff-default;
        }

        &__heading {
            font-size: 1rem;
            font-family: $ff-secondary;
            color: $white6;
            letter-spacing: 1px;
        }
    }


    &__col--img {

        .col__img {
            background: url("../images/image-header-desktop.jpg") center/ cover no-repeat,
                $softViolet;
            background-blend-mode: overlay;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

}

@media(max-width:375px) {
    .card {
        border-radius: 10px;

        // selects first child of its parent
        // element with class col-
        [class|="col"]:first-child {
            order: 1;
        }

        &__body {
            padding: 2rem;
        }

        &__title {
            font-size: 1.8em;
        }

        &__text {
            line-height: 1.8em;
            letter-spacing: .5px;
        }

        &__col--img {
            height: calc(30vh - 0.1px);

            .col__img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 0;
            }
        }

        &__stats {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            gap: 20px;

            &__number {
                font-size: 1.2em;
                margin-bottom: 1%;
            }

            &__heading {
                font-size: .7em;
            }
        }
    }
}